body {
    color:#000000;
    font-size:1em;
    font-weight:400;
    line-height:1.5
   }

   .navbar-item, .navbar-link {
    color: #000000;
    display: block;
    line-height: 1.5;
    padding: 0.5rem 0.75rem;
    position: relative;
}      